/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  margin: 0;
  font-family: "Ubuntu Mono", monospace;
  background:#fffffa;
}

.btn {
  margin: 5px;
}
.navbar{
  background: darkred;
  padding: 10px;
}

.navbar a{
  color:white;
  text-decoration: none;
}
